<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../logout-usuario/logout-usuario.html">
<link rel="import" href="../dm-login/dm-login.html">
<link rel="import" href="../dm-logout/dm-logout.html">
<link rel="import" href="../dm-nuevo/dm-nuevo.html">
<link rel="import" href="../mi-escritorio/mi-escritorio.html">
<link rel="import" href="../nuevo-usuario/nuevo-usuario.html">
<link rel="import" href="../mensaje-usuario/mensaje-usuario.html">





<dom-module id="my-aplicacion">
  <template>
    <style>
      :host {
        display: block;
        min-height: 75rem;
        }


    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../../../../style.css" rel="stylesheet">



   <nav class="navbar navbar-light " style="background-image: url(../../../imagen/cabeceralila.jpg)">
       <h1> MI PRIMER BANCO </h1>
     <div class="btn-group  btn-group-justified pull-top">
       <button class="btn btn-lg btn-default ml-auto" data-toggle="collapse" on-click="crearUsuario" hidden$='{{loginresponse}}'>Nuevo Usuario</button>
       <logout-usuario class="ml-auto" id="goLogout" data-toggle="collapse"></logout-usuario>
     </div>
   </nav>


  <mensaje-usuario id="doMensaje" hidden$="{{!mensaje}}" msg=[[msgUsuario]]>  </mensaje-usuario>

  <iron-pages id="ironpages" selected="0">

          <div>
            <login-usuario id="goLogin"></login-usuario>
          </div>
          <div>
            <mi-escritorio id="verEscritorio" nombre="[[nombre]]" usuario="[[idUsuario]]"></mi-escritorio>
          </div>
          <div>
            <nuevo-usuario id="nuevoUsuario"></nuevo-usuario>
          </div>
  </iron-pages>


    <dm-login id="doLogin" credential="[[loginUser]]" > </dm-login>
    <dm-logout id="doLogout" email="[[email]]" petlogout="[[petlogout]]" > </dm-logout>
    <dm-nuevo id="doNewUser"> </dm-nuevo>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MyAplicacion extends Polymer.Element {
      static get is() { return 'my-aplicacion'; }
      static get properties() {
        return {
          loginUser:{
            type:Object
          },nombre:{
            type:String
          },email:{
            type:String
          },loginresponse:{
            type:Boolean
          },logoutresponse:{
            type:Boolean,
            observer:'volverPaginaInicio'
          },petlogout:{
            type:String
          },idUsuario:{
            type:Number,
            observer:'cambioPagina'
          },accountList:{
            type:Array
          },msgUsuario:{
            type:String
          },mensaje:{
            type:Boolean,
            value:false
          }
        };
      }
       ready(){
            super.ready();
            this.$.goLogin.addEventListener('requestLogin', (e) => {
             console.log('escuchado peticion de login');
             this.loginUser=e.detail;
             console.log("usuario" + this.loginUser);
             this.email=e.detail.email;
          } );
            this.$.goLogout.addEventListener('requestLogout', (e) => {
            this.petlogout="si";
            console.log("escucho logout" + this.petlogout);
          } );
          this.$.doLogin.addEventListener('reponseLogin', (e) => {
           console.log(e.detail);
          this.loginresponse=e.detail.logged;
          this.idUsuario=e.detail.id;
          this.nombre = e.detail.firstname;
        } );

          this.$.doLogout.addEventListener('reponseLogout', (e) => {
           console.log("respondeLogout");
           console.log(e.detail);
           this.petlogout="no";
          this.logoutresponse=e.detail.logoutuser;
          this.loginresponse=false;
          this.msgUsuario=e.detail.msg;
          console.log(this.msgUsuario);
          this.mensaje=true;

        } );

        this.$.nuevoUsuario.addEventListener('newUsuario',(e) =>{
          console.log("recibida nuevo usuario" + e.detail);
          this.$.doNewUser.first_name=e.detail.first_name;
          this.$.doNewUser.last_name=e.detail.last_name;
          this.$.doNewUser.email=e.detail.email;
          this.$.doNewUser.password=e.detail.password;
          this.$.doNewUser.iban=e.detail.iban;

        });
        this.$.doNewUser.addEventListener('reponseAlta',(e) =>{
          console.log("Respuesta nuevo usuario" + e.detail);
          this.msgUsuario=e.detail.msg;
          this.mensaje=true;
          this.$.ironpages.selected="0"
        });
        super.addEventListener('error',(err) =>{
          console.log("detecto que hay un error ");
          this.mensaje=true;
          if (err.detail.request.xhr.response != null){
                 this.msgUsuario=err.detail.request.xhr.response.msg;
             }else {
                     this.msgUsuario="No se ha podido completar la operacion";}
        });
        this.$.doMensaje.addEventListener('cerrarMensaje',(e) =>{
          console.log("cerrar mensaje "+ e.detail);
            this.mensaje=e.detail.mensaje;

        });
        this.$.verEscritorio.addEventListener('cierraEscritorio',(e) =>{
          console.log("cerrar escritorio");
            this.mensaje=e.detail.mensaje;
            this.$.ironpages.selected="0";
            this.petlogout="si";
        });

        this.$.verEscritorio.addEventListener('nuevoMensaje',(e) =>{
          console.log("nuevoMensaje");
          this.msgUsuario=e.detail.msg;
          this.mensaje=true;
        });

        this.$.nuevoUsuario.addEventListener('cierraFormulario',(e) =>{
          console.log("cerrarFormularioo");
            this.mensaje=e.detail.mensaje;
            this.$.ironpages.selected="0";
        });
             }

      cambioPagina(){
        console.log("cambio de pagina");
        console.log(this.idUsuario);
        this.$.ironpages.selected="1"};

      volverPaginaInicio(){
        console.log("volver pagina inicio");
        this.$.ironpages.selected="0"};

      crearUsuario(){
          this.$.ironpages.selected="2"};

    }


    window.customElements.define(MyAplicacion.is, MyAplicacion);
  </script>
</dom-module>
