<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-operar">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
        id="doIngreso"
        method="POST"
        url="http://my-rutamyapptechu4ed-my-apircc.7e14.starter-us-west-2.openshiftapps.com/apircc/v1/users/accounts/ingreso"
        content-type="application/json"
        handle-as="json"
        on-response="manageAJAXResponse",
        on-error="showError">

      <iron-ajax
            id="doReintegro"
            method="POST"
            url="http://my-rutamyapptechu4ed-my-apircc.7e14.starter-us-west-2.openshiftapps.com/apircc/v1/users/accounts/reintegro"
            content-type="application/json"
            handle-as="json"
            on-response="manageAJAXResponse",
            on-error="showError">


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmOperar extends Polymer.Element {
      static get is() { return 'dm-operar'; }
      static get properties() {
        return {
          idmov:{
           type: Number
         }, account:{
           type: String
         }, importe:{
           type:Number
         },tipOpe:{
           type: String
         },datoIngreso:{
           type:Object,
           observer: 'ejecutarOperacion'
         }
       };
     }

        ejecutarOperacion(){
       console.log("realizar una operacion");
       console.log(this.datoIngreso);
       console.log(this.tipOpe);
       if (this.tipOpe =='Ingreso'){
          // console.log(this.datoOpe);
          console.log(datosOpera);
          var datosOpera= {
               "numCliente": this.datoIngreso.numCliente,
               "account": this.datoIngreso.account,
               "tipo": "Ingreso Efectivo",
               "import":this.importe
           };

        this.$.doIngreso.body = JSON.stringify(datosOpera);
         this.$.doIngreso.generateRequest();
          console.log("Petición de ingreso enviada");
       }else {
         console.log(datosOpera);
         var datosOpera= {
              "numCliente": this.datoIngreso.numCliente,
              "account": this.datoIngreso.account,
              "tipo": "Reintegro Efectivo",
              "import":this.importe
          };

         this.$.doReintegro.body = JSON.stringify(datosOpera);
         this.$.doReintegro.generateRequest();
          console.log("Petición de reintegro enviada");
       }

     }

     manageAJAXResponse(data){
       console.log("Respuesta de operacion");
       console.log(data.detail.response);
       this.movimientos=data.detail.response;
       this.dispatchEvent(
          new CustomEvent(
            "reponseOpera",
            {
              "detail": {
                msg : "Operacion Correcta",
                numCliente:this.datoIngreso.numCliente
                }
            }
          )
        )
     }
     showError(error){
     console.log("Hubo un error al recuperar movimientos");
     console.log(error.detail.request.xhr.response);
     this.dispatchEvent(
        new CustomEvent(
          "errorOperar",
          {
            "detail": {
              msg : "Imposibilidad de realizar la opearacion",
            }
          }
        )
      )
     }
   }

    window.customElements.define(DmOperar.is, DmOperar);
  </script>
</dom-module>
