<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

   <iron-ajax
        id="getCuentas"
        method="GET"
        url="http://my-rutamyapptechu4ed-my-apircc.7e14.starter-us-west-2.openshiftapps.com/apircc/v1/users/{{usuarioid}}/accounts"
        handle-as="json"
        on-response="manageAJAXResponse",
        on-error="showError">


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmCuentas extends Polymer.Element {
      static get is() { return 'dm-cuentas'; }
      static get properties() {
        return {
        usuarioid:{
           type: Number
         },actSaldo:{
           type:Boolean,
           observer:'actualizarSaldo'
         }, accounts:{
           type:Array
         }
       };
     }


     actualizarSaldo(){
       console.log("actualizar saldo" + this.usuarioid);
       this.$.getCuentas.body = JSON.stringify(this.usuarioid);
       this.$.getCuentas.generateRequest();
       console.log("Petición nuevas cuentas enviada");
     }

     manageAJAXResponse(data){
       console.log("Respuesta de cuentas");
       console.log(data.detail.response);
       this.accounts=data.detail.response;
       this.dispatchEvent(
          new CustomEvent(
            "reponseCuenta",
            {
              "detail": {
                accounts : this.accounts,
                }
            }
          )
        )
     }
     showError(error){
     console.log("Hubo un error al recuperar cuentas");
     console.log(error.detail.request.xhr.response);
     this.dispatchEvent(
        new CustomEvent(
          "errorCtas",
          {
            "detail": {
              msg : "Error al recupera las cuentas",
            }
          }
        )
      )
     }
   }

    window.customElements.define(DmCuentas.is, DmCuentas);
  </script>
</dom-module>
