header{
background-color:rgba(8,34,62,.2);
}


h1{
/*color:rgba(209,208,216,.8);*/
/*color:rgb(74,63,129);*/
color:rgba(255, 158, 140, 0.9);
/*color:rgb(220,220,223);*/
margin-left:500px;
margin-top:30px;
font-size:50px;
}


aside{
width:600px;
height:170px;
float:right;
background-color:rgba(222,113,195,.4);
text-align:center;
font-weight:bold;
padding:10px;
margin-left:10px;
font-size:30px;
border: 2px inset #8118BD;
border-width: 5px;
box-shadow: 6px -6px 6px #db4dff;
}

#cuentas{
float:left;
background-color:none;
width:400px;
/*background-color:rgb(127,173,172);*/
text-align:center;
font-weight:bold;
font-size:50px;
/*padding:20px;
margin-left:20px;*/
}
.cabecera-tabla{
  background-image:url("../imagen/fondonav.jpg");
  font-size: 30px;
  font-weight: bold;

}
.form-signin {
  width: 100%;
  max-width: 200px;
  padding: 50px;
  margin: auto;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#listaCta {
  width: 100%;
  height: auto;
  max-width: 500px;
  float:left;
  font-size : 20px;
  color:#8118BD;
}
.site-header {
  background-color: rgba(63, 127, 191, .4);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.miboton-purple {
    color: #ffffff;
    background-color: #8118BD;
    border-radius: 8px;
    border: 2px solid #8118BD;
}
.miboton-green {
    color: #ffffff;
    background-color: #1CD835;
    border-radius: 8px;
    border: 2px solid #1CD835;

}
.miboton-blue {
    color: #ffffff;
    background-color: #0C0FB0;
    border-radius: 8px;
    border: 2px solid #0C0FB0;
}
.miboton-white {
    color: #8118BD;
    background-color: #E3EFE5;
    border-radius: 8px;
    border: 2px solid #8118BD;
}
.formulario {
      height: 100%;
      -ms-flex-align: center;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #f5f5f5;
      border: 1px #8118BD solid;
      border-radius:10px;
 }
 .table-responsive {
    font-size: 16px;
    height: 50vh; min-height: 200px;
    overflow-y: auto;
}
