<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-traspaso">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

       <iron-ajax
            id="doTrasOrigen"
            method="POST"
            url="http://my-rutamyapptechu4ed-my-apircc.7e14.starter-us-west-2.openshiftapps.com/apircc/v1/users/accounts/reintegro"
            content-type="application/json"
            handle-as="json"
            on-response="manageAJAXOrigenResponse",
            on-error="showErrorOrigen">

       <iron-ajax
                id="doTrasDestino"
                method="POST"
                url="http://my-rutamyapptechu4ed-my-apircc.7e14.starter-us-west-2.openshiftapps.com/apircc/v1/users/accounts/ingreso"
                content-type="application/json"
                handle-as="json"
                on-response="manageAJAXDestinoResponse",
                on-error="showErrorDestino">

        <iron-ajax
           id="deshacerIng"
           method="POST"
           url="http://my-rutamyapptechu4ed-my-apircc.7e14.starter-us-west-2.openshiftapps.com/apircc/v1/users/accounts/ingreso"
           content-type="application/json"
           handle-as="json"
           on-response="manageAJAXResponse",
           on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmTraspaso extends Polymer.Element {
      static get is() { return 'dm-traspaso'; }
      static get properties() {
        return {
           importe:{
           type:Number
         },datoTraspaso:{
           type:Object,
           observer: 'ejecutarTraspaso'
         }
       };
     }

      ejecutarTraspaso(){
       console.log("realizar un traspaso" + this.datoTraspaso.accountDest);
       console.log(this.datoTraspaso);
       console.log(this.tipOpe);
       console.log(this.datoTraspaso.import);
       var datosOpera= {
             "numCliente": this.datoTraspaso.numCliente,
             "account": this.datoTraspaso.account,
             "tipo": "Traspaso emitido",
             "import":this.datoTraspaso.import
         };
       //primero hacemos el reintegro
        console.log(datosOpera);
        this.$.doTrasOrigen.body = JSON.stringify(datosOpera);
         this.$.doTrasOrigen.generateRequest();
        console.log("Petición quitar saldo cuenta origen");

      }

     manageAJAXOrigenResponse(data){
       console.log("Respuesta de operacion");
       console.log(data.detail.response);
       var datosOpera= {
             "numCliente": this.datoTraspaso.numCliente,
             "account": this.datoTraspaso.accountDest,
             "tipo":"Traspaso recibido",
             "import":this.datoTraspaso.import
         };
       console.log(datosOpera);
         this.$.doTrasDestino.body = JSON.stringify(datosOpera);
         this.$.doTrasDestino.generateRequest();
         console.log("Petición añadir saldo cuenta destino");

     }

     manageAJAXDestinoResponse(data){
       console.log("Respuesta de operacion");
       console.log(data.detail.response);
       this.movimientos=data.detail.response;
       this.dispatchEvent(
          new CustomEvent(
            "reponseTraspa",
            {
              "detail": {
                msg : "Operacion Correcta",
                }
            }
          )
        )
     }
     showErrorOrigen(error){
     console.log("Hubo un error al quitar dinero");
     console.log(error.detail.request.xhr.response);
     this.dispatchEvent(
        new CustomEvent(
          "error",
          {bubbles:true,
            "detail": {
              msg : "Imposibilidad de realizar la opearacion",
            }
          }
        )
      )
     }
     showErrorDestino(error){
     console.log("Hubo un error al meter dinero");
     console.log(error.detail.request.xhr.response);
     // tenemos que deshacer la operacion inicial
        var datosOpera= {
           "numCliente": this.datoTraspaso.numCliente,
           "account": this.datoTraspaso.account,
           "tipo":"Anulacion traspaso",
           "import":this.datoTraspaso.import
       };
       this.$.deshacerIng.body = JSON.stringify(datosOpera);
       this.$.deshacerIng.generateRequest();

      this.dispatchEvent(
        new CustomEvent(
          "error",
          {
            "detail": {
              msg : "Imposibilidad de realizar la operacion",
            }
          }
        )
      )
     }

   manageAJAXResponse(data){
     console.log("Operacion invalidada");
   }

   showError(error){
   console.log("Hubo un error al deshacer la operacion");
   console.log(error.detail.request.xhr.response);
   }
 }
    window.customElements.define(DmTraspaso.is, DmTraspaso);
  </script>
</dom-module>
