<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mensaje-usuario">
  <template>
    <style>
      :host {
               border-radius: 50px;
               padding: 140px 10px;

           }

          p{
              font-weight: bold;
              font-size : 23px;
              padding: 20px;
            }

    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

      <div class="alert alert-info alert-dismissible float-lg-right">

          <div > Mensaje
            <button type="button" class="close" data-dismiss="alert" on-click="cerrarMsg">&times;</button>
          </div>
         <p>
          ¡¡¡¡¡  [[msg]] !!!!!
        </p>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MensajeUsuario extends Polymer.Element {
      static get is() { return 'mensaje-usuario'; }
      static get properties() {
        return {
        msg:{
            type: String
       }
        };
      }


      cerrarMsg(){
            this.dispatchEvent(
           new CustomEvent(
             "cerrarMensaje",
             {
               "detail": {
                 mensaje:false,
             }
             }
           )
         )
      }

    }

    window.customElements.define(MensajeUsuario.is, MensajeUsuario);
  </script>
</dom-module>
