<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
      
       .divint {
             border: 1px #0C0FB0 solid;
             border-radius:5px;
             box-shadow: 10px 6px 6px #0C0FB0;

        }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../../../../style.css" rel="stylesheet">


    <div class="container mx-auto  mt-4 formulario">
    <div class="text-center divint mx-3">

          <img class="mb-4 img-roundeds" alt="" src="../../../imagen/cabecera.jpg" width="300" height="100">
          <h3 class="h3 mb-auto font-weight-normal">Introduzca email y password</h3>

          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email " value ="{{email::input}}" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" value ="{{password::input}}" required>
          <button class="btn btn-lg btn-primary btn-block"  on-click="login">Login</button>

    </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email:{
            type: String
         },password:{
           type: String
         }
        };
      }

      login(){
        console.log("Pedimos login");
        this.dispatchEvent(
           new CustomEvent(
             "requestLogin",
             {
               "detail": {
                 "email":this.email,
                 "password": this.password
               }
             }
           )
         )
         this.$.inputPassword.value="";

      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
