<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../cerrar-ventana/cerrar-ventana.html">

<dom-module id="visor-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }

    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../../../../style.css" rel="stylesheet">

     <nav class="navbar navbar-light">
        </br>
        <h3> Movimientos de la cuenta [[account]] </h3>
         <cerrar-ventana id="cerrarVentana"></cerrar-ventana>
     </nav>

     <section class="container-fluid table-responsive">
         <table class="table table-striped">
           <thead class="cabecera-tabla">
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Tipo</th>
              <th scope="col">Importe</th>
              <th scope="col">Saldo posterior</th>
          </tr>
           </thead>
          <tbody>
           <template is="dom-repeat" items="{{movimientos}}">
            <tr>
              <td>{{item.date}}</td>
              <td>{{item.type}}</td>
              <td>{{item.import}}</td>
              <td>{{item.saldo}}</td>
            </tr>
            </tbody>
          </template>
        </table>
  </section>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          idcliente:{
            type: Number
          }, account:{
            type : String
          },movimientos:{
            type:Array
          },mostrarMov:{
            type:Boolean,
            value:false
          }
        }
      }

      ready(){

        super.ready();

        this.$.cerrarVentana.addEventListener('cierraVentana',(e) => {
          console.log("nos piden cerrar ventana");
          this.dispatchEvent(
             new CustomEvent(
               "visorMov",
               {
                 "detail": {}
               }
             )
           )
        })
      }
    
    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
