<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
      table{

        border-collapse: separate;
        }

    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../../../../style.css" rel="stylesheet">

    <section class="container-fluid table-responsive mt-2">

     <table class="table table-bordered table-hover">
       <thead class="cabecera-tabla">
        <tr>
          <th scope="col">Cuenta</th>
          <th scope="col">Saldo</th>
        </tr>
       </thead>
       <template is="dom-repeat" id="domRepeat"items="{{accounts}}">
        <tbody>
        <tr id="tablas" on-click="seleccionar">
          <td>{{item.IBAN}}</td>
          <td>{{item.balance}}</td>
          </tr>
        </tbody>
      </template>
    </table>
  </section>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          idcta:{
            type: Number
          }, accountSelect:{
            type:String
          },accounts:{
            type:Array
          }
        }
      }
      seleccionar(e){
        console.log("Seleccionar cuenta");
        var item = this.$.domRepeat.itemForElement(e.target);
        console.log(item);

        this.accountSelect=item.IBAN;

        this.dispatchEvent(
           new CustomEvent(
             "seleccionCta",
             {
               "detail": {
                 "idcta":this.idcta,
                 "accountSelect": this.accountSelect
             }}
           )
         )
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
