<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../cerrar-ventana/cerrar-ventana.html">

<dom-module id="nuevo-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
      div{
        border: 1px #0C0FB0 solid;
        border-radius:15px;
        box-shadow: 10px 6px 6px #0C0FB0;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../../../../style.css" rel="stylesheet">

    <cerrar-ventana id="cerrarVentana"></cerrar-ventana>
  

    <div class="container-fluid mt-5 mx-auto formulario">
      <h3 class="h3 mb-3 font-weight-normal">Por favor, introduzca sus datos</h3>
      <label for="name"> First_name </label>
      <input type="text" id="firstName" name="name"class="form-control" placeholder="First Name " value ="{{first_name::input}}" required autofocus>
      </br><label for="lastname"> Last_name </label>
      <input type="text" id="lastName" name="lastname"class="form-control" placeholder="Last Name " value ="{{last_name::input}}" required autofocus>
      </br><label for="emailIn">Email</label>
      <input type="email"  name="emailIn" class="form-control" placeholder="Email " value ="{{email::input}}" required autofocus>
      </br><label for="password">Password</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" value ="{{password::input}}" required>
      </br><label for="IBAN"> Nº de cuenta </label>
      <input type="text" id="inputIBAN" name="IBAN"class="form-control" placeholder="IBAN " value ="{{iban::input}}" required autofocus>
      </br>
      <button class="btn btn-md btn-primary btn-block"  on-click="crear">Crea</button>
      </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class NuevoUsuario extends Polymer.Element {
      static get is() { return 'nuevo-usuario'; }
      static get properties() {
        return {
          first_name:{
            type: String
          },last_name:{
            type: String
          }, email:{
            type: String
         },password:{
           type: String
         },iban:{
           type:String
         }
        };
      }
      ready(){

        super.ready();

        this.$.cerrarVentana.addEventListener('cierraVentana',(e) => {
          console.log("nos piden cerrar formulario");
          this.dispatchEvent(
             new CustomEvent(
               "cierraFormulario",
               {
                 "detail": {}
               }
             )
           )
        })
      }
      crear(){
        console.log("Nuevo usuario " + this.last_name);
        this.dispatchEvent(
           new CustomEvent(
             "newUsuario",
             {
               "detail": {
                 "first_name": this.first_name,
                 "last_name": this.last_name,
                 "email":this.email,
                 "password": this.password,
                 "iban": this.iban
               }
             }
           )
         )
      }
      cerrarFormulario(){
        console.log("cerrarFormulario");
        this.dispatchEvent(
           new CustomEvent(
             "cierraFormulario",
             {
               "detail": {}
             }
           )
         )
      }
    }

    window.customElements.define(NuevoUsuario.is, NuevoUsuario);
  </script>
</dom-module>
