<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="doLogin"
      method="POST"
      url="http://my-rutamyapptechu4ed-my-apircc.7e14.starter-us-west-2.openshiftapps.com/apircc/v1/users/login"
     content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmLogin extends Polymer.Element {
      static get is() { return 'dm-login'; }
      static get properties() {
        return {
         credential:{
           type:Object,
           observer:'requestLogin'
         },
         logged:{
           type:Boolean
         }
        };
      }

      requestLogin(){
        console.log("identifico cambio");
  // $ se usa para acceder al  shadowDom , al id que hemos definido en ajax y con el body de la variable anteriormente definida.
         this.$.doLogin.body = JSON.stringify(this.credential);
        //  console.log(this.credential);
         this.$.doLogin.generateRequest();
         console.log("Petición enviada");

       }

      manageAJAXResponse(data){
        console.log("Respuesta definida");
        // console.log(data.detail.response);
        this.logged = true;
        this.dispatchEvent(
           new CustomEvent(
             "reponseLogin",
             {
               "detail": {
                 logged:true,
                 id:data.detail.response.idUsuario,
                 firstname:data.detail.response.firstname,
               }
             }
           )
         )
      }
      showError(error){
      console.log("Hubo un error");
      console.log(error.detail.request.xhr.response.msg);
      this.logged = false;
      }
    }

    window.customElements.define(DmLogin.is, DmLogin);
  </script>
</dom-module>
