<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../cerrar-ventana/cerrar-ventana.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="operar-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }

      .menuCSS3 ul {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.menuCSS3 a {
		display: block;
		padding: 2em;
		background-color: #F9B53C;
		text-decoration: none;
		color: #191C26;
	}
	.menuCSS3 a:hover {
		background-color: #CC673B;
	}
	.menuCSS3 ul li ul {
		display: none;
	}
	.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
		display: block;
	}

    </style>


    <link href="../../../../style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <div hidden$='{{!activate}}'>
     <div class="btn-group btn-group-lg btn-group-justified"  >
        <a href="#" class="btn  miboton-green" on-click="consultarMov">Consulta movimientos</a>
        <a href="#" class="btn  miboton-blue" on-click="realizarIngreso">Ingreso</a>
        <a href="#" class="btn  miboton-white" on-click="realizarReintegro">Reintegro</a>
        <a href="#" class="btn  miboton-purple" on-click="realizarTraspaso">Traspaso</a>
     </div>
   </br>
    </div>



    <div class="container-fluid mx-auto border border-info formulario" hidden$='{{intImporte}}'>
         <cerrar-ventana id="cerrarVentana"></cerrar-ventana>

        <div class="text-left">
          <h4>Cuenta origen <b>[[cuenta]]</b> </h4>
          <h4>Importe</h4>
          <input type="range" id="inputImporte" class="form-control" list="tickmarks" min="0" max="9999" value ="{{importe::input}}" step='0.01' required>
               <datalist id="tickmarks">
                  <option value="0" label="0">
                  <option value="5.000" label="5000">
                  <option value="9999" label="9.999">
              </datalist>
          </input>

           <div hidden$="{{intCuenta}}">
             <h4>Cuenta Destino <b>[[cuentaDest]]</b>
             </br>     </br>
                 <select name="ctaDestino" id="listaCta"class="form-control" on-click="selCta" required>
                    <option value="">Por favor, selecciona una cuenta</option>
                    <template is="dom-repeat" items="{{accounts}}">
                        <option value="{{item.IBAN}}">{{item.IBAN}}</option>
                    </template>
                </select>
              </h4>
         </div>

          </br></br>

          <h4> Se va a realizar un <b>[[tipo]]</b> por un importe de <b>[[importe]] eur </b> </h4>

        </div>
        <div class="btn-group pull-right">
          <button class="btn btn-lg btn-primary"  on-click="operar">Confirmar</button>
          <button class="btn btn-lg btn-primary"  on-click="cerrar">Cancelar</button>
        </div>
    </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class OperarCuentas extends Polymer.Element {
      static get is() { return 'operar-cuentas'; }
      static get properties() {
        return {
          cuenta:{
            type:String,
            observer:'activarBotones'
          },tipo:{
            type: String
         },importe:{
           type:Number
         },activate:{
           type:Boolean,
           value:false
         },intImporte:{
           type:Boolean,
           value:true
         },intCuenta:{
           type:Boolean,
           value:true
         },cuentaDest:{
           type:String
         },accounts:{
           type:Array
         }
        }
      }

      ready(){

        super.ready();

        this.$.cerrarVentana.addEventListener('cierraVentana',(e) => {
          console.log("nos piden cerrar ventana");
          this.intImporte=true;
          this.intCuenta=true;
          this.$.inputImporte= "";
          this.cuentaDest="";
          this.importe=0;
        })

        }

      activarBotones(){
        console.log("activamos botones");
        this.activate=true;
      }

      consultarMov(){

        this.intImporte=true;
        console.log("solicitamos movimientos");

        this.dispatchEvent(
           new CustomEvent(
             "requestMov",
             {
               "detail": {
                 "idcta":this.numClie,
                 "accountMov": this.cuenta
             }}
           )
         )
      }
      cerrar(){
        console.log("cerrar");
        this.intImporte=true;
        this.intCuenta=true;
        this.$.inputImporte= "";
        this.cuentaDest="";
        this.importe=0;
      }
      realizarIngreso(){
        console.log("solicitamos ingreso");
        this.intImporte=false;
        this.tipo = "Ingreso";
        this.importe=0;
        this.dispatchEvent(
           new CustomEvent(
             "requestOperar",
             {
               "detail": {}
             }
           )
         )

      }
      realizarReintegro(){
        console.log("solicitamos reintegro");
        this.intImporte=false;
        this.importe=0;
        this.tipo="Reintegro";
        this.dispatchEvent(
           new CustomEvent(
             "requestOperar",
             {
               "detail": {}
             }
           )
         )
        }
      realizarTraspaso(){
          console.log("solicitamos traspaso");
          this.tipo="Traspaso";
          this.intImporte=false;
          this.intCuenta=false;
          this.importe=0;
          this.cuentaDest=0;
          this.dispatchEvent(
             new CustomEvent(
               "requestOperar",
               {
                 "detail": {}
               }
             )
           )
        }

      operar(){

          console.log("Confirma la operacion");

          if (this.tipo != "Traspaso"){

          this.dispatchEvent(
             new CustomEvent(
               "confirmOpe",
               {
                 "detail": {
                   "numCliente":this.usuario,
                   "account": this.cuenta,
                   "import":this.importe,
                   "tipo":this.tipo
               }}
             )
           )
         }else{
           console.log("vamos a traspaso " + this.cuentaDest);

           this.dispatchEvent(
              new CustomEvent(
                "confirmTas",
                {
                  "detail": {
                    "numCliente":this.usuario,
                    "account": this.cuenta,
                    "import":this.importe,
                    "accountDest":this.cuentaDest
                }}
              )
            )
         }
        }

        selCta(e){
          console.log("Seleccionar cuenta");
          console.log(this.$.listaCta[this.$.listaCta.options.selectedIndex].value);
          this.cuentaDest=this.$.listaCta[this.$.listaCta.options.selectedIndex].value;
        }


    }

    window.customElements.define(OperarCuentas.is, OperarCuentas);
  </script>
</dom-module>
