<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="cerrar-ventana">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link href="../../../../style.css" rel="stylesheet"> -->

    <!-- Cerrar la ventana -->
    <button type="button" class="close float-right" aria-label="Close"on-click="cerrar">
      <span aria-hidden="true">&times;</span>
    </button>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CerrarVentana extends Polymer.Element {
      static get is() { return 'cerrar-ventana'; }
      static get properties() {
        return {
          cerrada:{
            type:Boolean
          }
             }
        };

      cerrar(){
        console.log("Solicitamos Cerrar");
        this.dispatchEvent(
           new CustomEvent(
             "cierraVentana",
             {
               "detail": { "cerrar": "si"}
             }
           )
         )
      }
    }

    window.customElements.define(CerrarVentana.is, CerrarVentana);
  </script>
</dom-module>
