<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-nueva-cta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

     <iron-ajax
      id="altaCuenta"
      method="POST"
      url="http://my-rutamyapptechu4ed-my-apircc.7e14.starter-us-west-2.openshiftapps.com/apircc/v1/users/:id/accounts"
      content-type="application/json"
      handle-as="json"
      on-response="cuentaAJAXResponse"
      on-error="showErrorCuenta">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmNuevaCta extends Polymer.Element {
      static get is() { return 'dm-nueva-cta'; }
      static get properties() {
        return {
          datosCuentaNueva:{
            type : Object,
            observer:'darAltaCuenta'
          }
        };
      }

      darAltaCuenta(){
        console.log(" Doy de alta nueva cuenta: " );
        this.$.altaCuenta.body = JSON.stringify(this.datosCuentaNueva);
          console.log(this.$.altaCuenta.body);
          this.$.altaCuenta.generateRequest();
         console.log("Petición enviada de alta cuenta");
       }


       cuentaAJAXResponse(data){
         console.log("Alta de cuenta correcta");
        this.dispatchEvent(
           new CustomEvent(
             "reponseAltaCta",
             {
               "detail": {
                 "msg": "Se ha añadido correctamente la cuenta",
                 "ID" : this.usuarioID
               }
             }
           )
         )
      }
      showErrorCuenta(error){
      console.log("Hubo un error al dar de alta la cuenta");
      console.log(error.detail.request.xhr.response);
      this.logged = false;
      this.dispatchEvent(
         new CustomEvent(
           "errorAltaCuenta",
           {
             "detail": {
               msg:error.detail.request.xhr.response
             }
           }
         )
       )
      }
    }

    window.customElements.define(DmNuevaCta.is, DmNuevaCta);
  </script>
</dom-module>
