<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">
<link rel="import" href="../visor-movimientos/visor-movimientos.html">
<link rel="import" href="../dm-cuentas/dm-cuentas.html">
<link rel="import" href="../dm-movimientos/dm-movimientos.html">
<link rel="import" href="../operar-cuentas/operar-cuentas.html">
<link rel="import" href="../dm-apiext/dm-apiext.html">
<link rel="import" href="../dm-operar/dm-operar.html">
<link rel="import" href="../dm-traspaso/dm-traspaso.html">
<link rel="import" href="../dm-nueva-cta/dm-nueva-cta.html">
<link rel="import" href="../cerrar-ventana/cerrar-ventana.html">
<link rel="import" href="../dm-cta-out/dm-cta-out.html">
<link rel="import" href="../admon-cuenta/admon-cuenta.html">

<dom-module id="mi-escritorio">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../../../../style.css" rel="stylesheet">

    <!-- Cerrar la ventana y desconectar-->
    <cerrar-ventana id="cerrarVentana"></cerrar-ventana>

    <!-- Llamada a api externa -->
     <nav class="navbar navbar-light">
        <aside >
           <dm-apiext usuarioid="[[usuario]]"></dm-apiext>
        </aside>
        </br>
        <h1>Bienvenido, [[nombre]] </br>
          <button class="btn btn-lg btn-link"  on-click="admonUsuario">Administrar Cuentas</button>
        </h1>
     </nav>

      <operar-cuentas id="operarCtas" cuenta="[[accountSol]]" accounts="[[accountList]]"></operar-cuentas>

      <iron-pages id="pagesEscritorio" selected="0">

         <div>
           <visor-cuentas id="verCtas" idcta="[[usuario]]" accounts="[[accountList]]"></visor-cuentas>
         </div>
         <div>
           <visor-movimientos  id="verMovtos" idcliente="[[usuario]]" movimientos="[[movList]]"account="[[accountSol]]"></visor-movimientos>
         </div>
         <div>
            <admon-cuenta id="nuevaCta" usuarioAdmon="[[usuario]]" accounts="[[accountList]]"></admon-cuenta>
         </div>

      </iron-pages>

<!-- Llamadas a los DATA-Manager -->
    <dm-cuentas id="doCuenta"  usuarioid="[[usuario]]"> </dm-cuentas>
    <dm-movimientos id="doMtos" inputMov="[[datosMov]]"> </dm-movimientos>
    <dm-operar id="doOpera" importe="[[impMov]]" tipOpe="[[tipoMov]]" datoIngreso="[[altaMov]]"> </dm-operar>
    <dm-traspaso id="doTraspaso" datoTraspaso="[[datosTrasp]]"> </dm-traspaso>
    <dm-nueva-cta id="doNuevaCta" datosCuentaNueva="[[datosCtaNueva]]"> </dm-nueva-cta>
    <dm-cta-out id="doBajaCta" cuentaBaja="[[datosCtaBaja]]"> </dm-cta-out>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiEscritorio extends Polymer.Element {
      static get is() { return 'mi-escritorio'; }
      static get properties() {
        return {
            nombre:{
              type:String
            },usuario:{
              type:Number,
              observer:'pedirCuentas'
            },accountSol:{
              type:String
            },accountList:{
              type:Array
            },movList:{
              type:Array
            },datosMov:{
              type:Object
            },tipoMov:{
              type:String
            },altaMov:{
              type:Object
            },impMov:{
              type:Number
            },datosTrasp:{
              type:Object
            },datosCtaNueva:{
              type:Object
            },datosCtaBaja:{
              type:Object
            }
      };
    }

    ready(){

      super.ready();

      this.$.doCuenta.addEventListener('reponseCuenta', (e) => {
       this.accountList=e.detail.accounts;
    } );

    this.$.verCtas.addEventListener('seleccionCta', (e) => {
     console.log("escuchando al visor de cuentas");
     this.usuario=e.detail.idcta;
     this.accountSol=e.detail.accountSelect;
     console.log("usuario mov : " + this.usuario);
     console.log(this.accountSol);

    } );

    this.$.verMovtos.addEventListener('visorMov', (e) => {
     console.log("escuchando al visor de movimientos");
     this.$.pagesEscritorio.selected="0";

    } );

    this.$.operarCtas.addEventListener('requestMov', (e) => {
     console.log("escuchando al boton de consulta");
     var peticion={
       "numCliente":this.usuario,
       "account":this.accountSol }
     this.datosMov= peticion;
     console.log(this.datosMov);
     this.$.doMtos.inputMov=this.datosMov;
    } );

    this.$.nuevaCta.addEventListener('newCuenta', (e) => {
     console.log("escuchando al boton nueva cuenta");
     var cuentaNueva = {
                     "usuarioID" : this.usuario,
                     "IBAN" : e.detail.IBAN,
                     "balance" : 0 };
     this.$.doNuevaCta.datosCuentaNueva=cuentaNueva;
      console.log(this.$.doNuevaCta.datosCuentaNueva);
    });

    this.$.nuevaCta.addEventListener('bajaCuenta', (e) => {
     console.log("escuchando al boton nueva cuenta");
     var cuentaBaja = {
                     "numCliente" : this.usuario,
                     "account" : e.detail.account}
     this.$.doBajaCta.cuentaBaja=cuentaBaja;
     console.log(this.$.doBajaCta.cuentaBaja);
    });


    this.$.nuevaCta.addEventListener('cerrarAdmon', (e) => {
     console.log("cerrar admon");
     this.$.pagesEscritorio.selected="0";
    } );

    this.$.operarCtas.addEventListener('requestOperar', (e) => {
     console.log("escuchando operar ctas");
     this.$.pagesEscritorio.selected="0";
    } );


    this.$.doMtos.addEventListener('reponseMov', (e) => {
     console.log("escuchando a consulta mov");
     this.movList=e.detail.movimientos;
     this.$.pagesEscritorio.selected="1";
     } );

    this.$.operarCtas.addEventListener('confirmOpe', (e) => {
     console.log("vamos a llamar a dm-operar" );
     this.tipoMov= e.detail.tipo;
     console.log(e.detail);

     var peticionOperar={
       "numCliente":this.usuario,
       "account": e.detail.account,
       "import":e.detail.import
     }
     this.altaMov=peticionOperar;
     this.impMov=e.detail.import;

     console.log("datos Movimiento");
     console.log(peticionOperar);
     console.log(this.altaMov);
      this.$.doOpera.tipOpe=this.tipoMov;
    this.$.doOpera.datoIngreso=this.altaMov;

   });
    this.$.operarCtas.addEventListener('confirmTas', (e) => {
     console.log("vamos a llamar a dm-traspaso" );
     console.log(e.detail);
     var peticionTraspaso={
       "numCliente":this.usuario,
       "account": e.detail.account,
       "import":e.detail.import,
       "accountDest":e.detail.accountDest
     }
     this.datosTrasp=peticionTraspaso;
     this.impMov=e.detail.import;

     console.log(peticionTraspaso);
     console.log(this.datosTrasp);
     this.$.doTraspaso.datoTraspaso=this.datosTrasp;

   });
    this.$.doOpera.addEventListener('reponseOpera', (e) => {
      console.log("Despues de operar");
      this.$.operarCtas.intImporte=true;
      this.$.operarCtas.intCuenta=true;
      this.$.doCuenta.actSaldo=!(this.$.doCuenta.actSaldo);
      console.log("Operación correcta"+this.usuario);
      this.dispatchEvent(
         new CustomEvent(
           "nuevoMensaje",
           {
             "detail": {
               msg:e.detail.msg

             }
           }
         )
       )

  });

    this.$.doTraspaso.addEventListener('reponseTraspa', (e) => {
      console.log("Despues de Traspaso " );
      this.$.operarCtas.intImporte=true;
      this.$.doCuenta.actSaldo=!(this.$.doCuenta.actSaldo);
      this.dispatchEvent(
         new CustomEvent(
           "nuevoMensaje",
           {
             "detail": {
               msg:e.detail.msg

             }
           }
         )
       )

    });

    this.$.doNuevaCta.addEventListener('reponseAltaCta', (e) => {
      console.log("Despues de alta Cuenta " );
      this.$.nuevaCta.intNewCuenta=true;
      this.$.doCuenta.actSaldo=!(this.$.doCuenta.actSaldo);
      this.dispatchEvent(
         new CustomEvent(
           "nuevoMensaje",
           {
             "detail": {
               msg:e.detail.msg

             }
           }
         )
       )

    });
    this.$.doBajaCta.addEventListener('reponseBajaCta', (e) => {
      console.log("Despues de Baja Cuenta " );
      this.$.nuevaCta.intBajaCuenta=true;
      this.$.doCuenta.actSaldo=!(this.$.doCuenta.actSaldo);
      this.dispatchEvent(
         new CustomEvent(
           "nuevoMensaje",
           {
             "detail": {
               msg:e.detail.msg

             }
           }
         )
       )

    });
    this.$.cerrarVentana.addEventListener('cierraVentana',(e) => {
      console.log("nos piden derrar ventana");
      this.dispatchEvent(
         new CustomEvent(
           "cierraEscritorio",
           {
             "detail": {}
           }
         )
       )
    })
 }


  pedirCuentas(){
    this.$.doCuenta.actSaldo=true;
    console.log("Actualizar cuentas :" + this.actSaldo);
}
   admonUsuario(){
     console.log("datos Usuario");
     this.$.pagesEscritorio.selected="2";
   }
}
    window.customElements.define(MiEscritorio.is, MiEscritorio);
  </script>
</dom-module>
