<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="logout-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../../../../style.css" rel="stylesheet">

     <button class="btn btn-lg btn-primary ml-auto" on-click="logout">Logout</button>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogoutUsuario extends Polymer.Element {
      static get is() { return 'logout-usuario'; }
      static get properties() {
        return {
          email:{
            type: String
         }
        };
      }
      logout(){
        console.log("Pedimos logout");
        this.dispatchEvent(
           new CustomEvent(
             "requestLogout",
             {
               "detail": { "petlogout": "si"}
             }
           )
         )
      }
    }

    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
