<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../cerrar-ventana/cerrar-ventana.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="admon-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../../../../style.css" rel="stylesheet">


      <cerrar-ventana id="cerrarVentana"></cerrar-ventana>
      </br>


      <nav class="container-fluid btn-group formulario">
          <button class="btn btn-lg btn-primary btn-block miboton-purple" on-click="altaCuenta">Añadir Cuenta</button>
          <button class="btn btn-lg btn-warning btn-block .miboton-purple" on-click="bajaCuenta">Eliminar Cuenta</button>
       </nav>

     </br>

      <div class="container-fluid mx-auto mt-2 border border-info formulario" hidden$='{{intNewCuenta}}'>
         <h4> Por favor, introduce los datos de la nueva cuenta</h4>
         <label>IBAN</label>
         <input type="text" id="ctaNueva" class="form-control" value="{{cuentaNueva::input}}" required autofocus/> </br>
         <div>
            <button class="btn btn-primary"  on-click="confirmar">Confirmar</button>
            <button class="btn btn-primary"  on-click="cerrar">Cancelar</button>
          </div>
      </div>


      <div class="container-fluid mx-auto mt-2 border border-info formulario" hidden$='{{intBajaCuenta}}'>
         <h4> Por favor, seleccione la cuenta a dar de baja</h4>
         <select name="ctaBorrar" id="listaCta"class="form-control" on-click="selCta" required>
            <option value="">Por favor, selecciona una cuenta</option>
            <template is="dom-repeat" items="{{accounts}}">
                <option value="{{item.IBAN}}">{{item.IBAN}}</option>
            </template>
        </select>

         <div class="btn-group pull-left">
            <button class="btn btn-lg btn-primary"  on-click="confirmarBaja">Confirmar</button>
            <button class="btn btn-lg btn-primary"  on-click="cerrarBaja">Cancelar</button>
          </div>
      </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AdmonCuenta extends Polymer.Element {
      static get is() { return 'admon-cuenta'; }
      static get properties() {
        return {
          accountEliminar:{
            type:String
          },intNewCuenta:{
            type:Boolean,
            value:true
          },cuentaNueva:{
            type:String
          },usuarioAdmon:{
            type:Number
          },accountList:{
            type:Array
          },intBajaCuenta:{
            type:Boolean,
            value:true
         },accounts:{
           type:Array
         }
         }
        };

        ready(){

          super.ready();

          this.$.cerrarVentana.addEventListener('cierraVentana',(e) => {
            console.log("nos piden cerrar ventana");
            this.intBajaCuenta=true;
            this.intNewCuenta=true;
            this.dispatchEvent(
               new CustomEvent(
                 "cerrarAdmon",
                 {
                   "detail": { }
                 }
               )
             )
          })

          }
      altaCuenta(){
        this.intNewCuenta=false;
        this.intBajaCuenta=true;
      }
      bajaCuenta(){
        this.intBajaCuenta=false;
        this.intNewCuenta=true;
      }

      selCta(e){
        console.log("Seleccionar cuenta");
        console.log(this.$.listaCta[this.$.listaCta.options.selectedIndex].value);
        this.accountEliminar=this.$.listaCta[this.$.listaCta.options.selectedIndex].value;
      }


      confirmar(){
        console.log("Nueva cuenta " + this.cuentaNueva);
        if (this.cuentaNueva ==null){
          console.log("sin cuenta");
          this.dispatchEvent(
             new CustomEvent(
               "error",
               {bubbles:true,
                 "detail": {
                   "msg": "Debe Completar la cuenta"
             }
               }
             )
           )
        }else{
          console.log("con cuenta");
        this.dispatchEvent(
           new CustomEvent(
             "newCuenta",
             {
               "detail": {
                 "id": this.usuarioAdmon,
                 "IBAN": this.cuentaNueva
           }
             }
           )
         )}
      }
      cerrar(){
        console.log("cerrar");
        this.intNewCuenta=true;
      }

      confirmarBaja(){
        console.log("Baja de cuenta " + this.accountEliminar );
        this.dispatchEvent(
           new CustomEvent(
             "bajaCuenta",
             {
               "detail": {
                 "account": this.accountEliminar
           }
             }
           )
         )
      }
      cerrarBaja(){
        console.log("cerrar");
        this.intBajaCuenta=true;
      }

    }

    window.customElements.define(AdmonCuenta.is, AdmonCuenta);
  </script>
</dom-module>
