<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-nuevo">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>


      <iron-ajax
      id="altaUsuario"
      method="POST"
      url="http://my-rutamyapptechu4ed-my-apircc.7e14.starter-us-west-2.openshiftapps.com/apircc/v1/users/nuevo"
      content-type="application/json"
      handle-as="json"
      on-response="usuarioAJAXResponse"
      on-error="showErrorUsuario">

      <iron-ajax
      id="altaCuenta"
      method="POST"
      url="http://my-rutamyapptechu4ed-my-apircc.7e14.starter-us-west-2.openshiftapps.com/apircc/v1/users/:id/accounts"
      content-type="application/json"
      handle-as="json"
      on-response="cuentaAJAXResponse"
      on-error="showErrorCuenta">

      <iron-ajax
      id="bajaUsuario"
      method="DELETE"
      url="http://my-rutamyapptechu4ed-my-apircc.7e14.starter-us-west-2.openshiftapps.com/apircc/v1/users/{{usuarioid}}"
      handle-as="json"
      on-response="bajaAJAXResponse"
      on-error="showErrorBaja">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmNuevo extends Polymer.Element {
      static get is() { return 'dm-nuevo'; }
      static get properties() {
        return {
          usuarioID:{
            type : Number
          },first_name:{
            type: String
          },last_name:{
            type: String
          }, email:{
            type: String
         },password:{
           type: String
         },iban:{
           type:String,
           observer:'darAlta'
         }
        };
      }

      darAlta(){
        console.log(" Doy de alta el usuario : " + this.last_name );
        var usuario = {
                        "first_name" : this.first_name,
                        "last_name" : this.last_name,
                        "email" : this.email,
                        "password" : this.password};
          this.$.altaUsuario.body = JSON.stringify(usuario);
          console.log(this.$.altaUsuario.body);
          this.$.altaUsuario.generateRequest();
         console.log("Petición enviada de alta usuario");
       }

      usuarioAJAXResponse(data,request){
        console.log("Alta de usuario correcta");
        console.log(data.detail.response.user);
        this.usuarioID = data.detail.response.user.id;
        var cuenta = {
                        "usuarioID" : this.usuarioID,
                        "IBAN" : this.iban,
                        "balance" : 0 };


         this.$.altaCuenta.body = JSON.stringify(cuenta);
          console.log(data.detail);
          this.$.altaCuenta.generateRequest();
         console.log("Petición enviada de logout");

       }

       cuentaAJAXResponse(data){
         console.log("Alta de cuenta correcta");
        this.dispatchEvent(
           new CustomEvent(
             "reponseAlta",
             {
               "detail": {
                 "msg": "Usuario dado de alta correctamente",
                 "ID" : this.usuarioID
               }
             }
           )
         )
      }

      bajaAJAXResponse(data){
        console.log("Baja de cliente correcta");
       this.dispatchEvent(
          new CustomEvent(
            "reponseAlta",
            {
              "detail": {
                "msg": "No se ha podido dar de baja la cuenta",
                "ID" : this.usuarioID
              }
            }
          )
        )
     }
      showErrorUSuario(error){
      console.log("Hubo un error");
      console.log(error.detail.request.xhr.response);
      this.logged = false;

      this.dispatchEvent(
         new CustomEvent(
           "errorAltaUsuario",
           {
             "detail": {
              msg:error.detail.request.xhr.response,
             }
           }
         )
       )
      }
      showErrorCuenta(error){
      console.log("Hubo un error al dar de alta la cuenta");
      console.log(error.detail.request.xhr.response);
      this.logged = false;

      this.$.bajaUsuario.body = JSON.stringify(this.usuarioID);
      console.log("borrado de usuario por error" + this.$.bajaUsuario.body);
      this.$.bajaUsuario.generateRequest();

      this.dispatchEvent(
         new CustomEvent(
           "errorAltaCuenta",
           {
             "detail": {
               msg:error.detail.request.xhr.response
             }
           }
         )
       )
      }

      showErrorBaja(error){
      console.log("Hubo un error al dar de alta la cuenta");
      console.log(error.detail.request.xhr.response);
      this.logged = false;

      this.dispatchEvent(
         new CustomEvent(
           "errorAltaCuenta",
           {
             "detail": {
               msg:error.detail.request.xhr.response
             }
           }
         )
       )
      }

    }

    window.customElements.define(DmNuevo.is, DmNuevo);
  </script>
</dom-module>
