<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-cta-out">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

     <iron-ajax
      id="borraCuenta"
      method="DELETE"
      url="http://my-rutamyapptechu4ed-my-apircc.7e14.starter-us-west-2.openshiftapps.com/apircc/v1/users/{{cliente}}/accounts"
      content-type="application/json"
      handle-as="json"
      on-response="cuentaAJAXResponse"
      on-error="showErrorCuenta">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmCtaOut extends Polymer.Element {
      static get is() { return 'dm-cta-out'; }
      static get properties() {
        return {
            cliente:{
              type:Number
            },cuentaBaja:{
            type : Object,
            observer:'darBajaCuenta'
          }
        };
      }

      darBajaCuenta(){
        console.log(" Doy de baja cuenta: " );
        console.log(this.cuentaBaja);
        this.cliente=this.cuentaBaja.numCliente;
        console.log(this.cliente);
        this.$.borraCuenta.body = JSON.stringify(this.cuentaBaja);
          console.log(this.$.borraCuenta.body);
          this.$.borraCuenta.generateRequest();
         console.log("Petición enviada de baja cuenta");
       }


       cuentaAJAXResponse(data){
         console.log("Baja de cuenta correcta");
        this.dispatchEvent(
           new CustomEvent(
             "reponseBajaCta",
             {
               "detail": {
                 msg: "Cuenta dada de Baja correctamente"
                  }
             }
           )
         )
      }
      showErrorCuenta(error){
      console.log("Hubo un error al dar de baja la cuenta");
      console.log(error.detail.request.xhr.response);
      this.logged = false;
      this.dispatchEvent(
         new CustomEvent(
           "errorBajaCuenta",
           {
             "detail": {
               msg:error.detail.request.xhr.response
             }
           }
         )
       )
      }
    }

    window.customElements.define(DmCtaOut.is, DmCtaOut);
  </script>
</dom-module>
