<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-apiext">
  <template>
    <style>
      :host {
        padding: 5px 10px;
         color: aliceblue;
         font-family: sans-serif;
         display: block;
         border-radius: 6px;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <p class="text-primary">
        TIPO DE CAMBIO a [[fecha]] </br></br>
        <span class="border border-light rounded-7s">EUR</span>
          [[rate]]
        <span class="border border-light rounded-0">USD</span>
      </p>

    <iron-ajax
    id="getCambio"
    method="GET"
    url="http://my-rutamyapptechu4ed-my-apircc.7e14.starter-us-west-2.openshiftapps.com/apircc/v1/conversor/{{divisa}}"
    handle-as="json"
    on-response="manageAJAXResponse",
    on-error="showError">


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmApiext extends Polymer.Element {
      static get is() { return 'dm-apiext'; }
      static get properties() {
        return {
        usuarioid:{
           type: Number,
           observer:'obtenerCambio'
         },divisa:{
           type:String
         },rate:{
           type:Number
         },fecha:{
           type:String
         }
       };
     }

     obtenerCambio(){
       console.log("CalculoCambio");
              this.divisa="EUR"
       console.log(this.divisa);
         this.$.getCambio.generateRequest();
        console.log("Petición de cambio enviada");
     }

     manageAJAXResponse(data){
       console.log("Respuesta de app");
       this.rate=data.detail.response.rate.rate;
       console.log(data.detail.response.rate.rate);
       var meses = new Array ("Ene","Feb","Mar","Abr","May","Jun","Jul","Agos","Sep","Oct","Nov","Dic")
       var f = new Date();
       var fechaHoy=f.getDate() + "-" + meses[f.getMonth()] + "-" + f.getFullYear();
       this.fecha=fechaHoy;
     }
     showError(error){
     console.log("Hubo un error al llamar");
     console.log(error.detail.request.xhr.response);
     this.dispatchEvent(
        new CustomEvent(
          "errorCtas",
          {
            "detail": {
              msg : "Error al llamar app",
            }
          }
        )
      )
     }
   }

    window.customElements.define(DmApiext.is, DmApiext);
  </script>
</dom-module>
