<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-logout">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>


      <iron-ajax
      id="doLogout"
      method="POST"
      url="http://my-rutamyapptechu4ed-my-apircc.7e14.starter-us-west-2.openshiftapps.com/apircc/v1/users/logout"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmLogout extends Polymer.Element {
      static get is() { return 'dm-logout'; }
      static get properties() {
        return {
          email:{
            type: String
         },
         logoutuser:{
           type:Boolean
         },
          petlogout:{
           type:String,
           observer:'requestLogout'
         }
        };
      }

      requestLogout(){
        console.log("vamos a hacer logout" + this.peticion);
      // $ se usa para acceder al  shadowDom , al id que hemos definido en ajax y con el body de la variable anteriormente definida.
         var usuario = {"email" : this.email}
         this.$.doLogout.body = JSON.stringify(usuario);
         this.$.doLogout.generateRequest();
         console.log("Petición enviada de logout" + this.$.doLogout.body);
        }

      manageAJAXResponse(data){
        console.log("Respuesta definida" + data.detail.response);
        this.logoutuser = true;
        this.dispatchEvent(
           new CustomEvent(
             "reponseLogout",
             {
               "detail": {
                 msg: data.detail.response.msg,
                 logoutuser:true,
               }
             }
           )
         )
      }
      showError(error){
      console.log("Hubo un error" + error.detail.request.xhr.response);
      this.logged = false;
    }
    }

    window.customElements.define(DmLogout.is, DmLogout);
  </script>
</dom-module>
