<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
        id="getMovimientos"
        method="POST"
        url="http://my-rutamyapptechu4ed-my-apircc.7e14.starter-us-west-2.openshiftapps.com/apircc/v1/users/account/movements"
        content-type="application/json"
        handle-as="json"
        on-response="manageAJAXResponse",
        on-error="showError">


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmMovimientos extends Polymer.Element {
      static get is() { return 'dm-movimientos'; }
      static get properties() {
        return {
          idmov:{
           type: Number

         }, account:{
           type: String
         },inputMov:{
           type:Object,
           observer: 'pedirMovimientos'
         },
          movimientos:{
           type:Array
         }
       };
     }


     pedirMovimientos(){
       console.log("pedir los movimientos");
       console.log(this.inputMov);
         this.$.getMovimientos.body = JSON.stringify(this.inputMov);
       this.$.getMovimientos.generateRequest();
        console.log("Petición de movimientos enviada");
     }

     manageAJAXResponse(data){
       console.log("Respuesta de movimientos");
       console.log(data.detail.response);
       this.movimientos=data.detail.response;
       console.log(this.movimeintos);
       this.dispatchEvent(
          new CustomEvent(
            "reponseMov",
            {
              "detail": {
                movimientos : this.movimientos,
                }
            }
          )
        )
     }
     showError(error){
     console.log("Hubo un error al recuperar movimientos");
     console.log(error.detail.request.xhr.response);
     this.dispatchEvent(
        new CustomEvent(
          "errorMtos",
          {
            "detail": {
              msg : "Error al recupera las movimientos",
            }
          }
        )
      )
     }
   }

    window.customElements.define(DmMovimientos.is, DmMovimientos);
  </script>
</dom-module>
